:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navyblue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --lightslate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --white: #ffffff;
    /* --cubic-bezier:(0.4, 0, 0.2, 1); */
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}




/* page 1,HEADER */
.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0px;
    align-items: flex-start;
    margin-right: 76px;


}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* display: flex; */
    /* align-items: center; */
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;


}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    /* width: 261px; */
    left: 347px;
    top: 24px;
}

/* .list {
    padding: 0px;
} */

.logo-blue {
    color: var(--navyblue);
}

.header-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.current {
    position: relative;
    color: var(--ocean);
}

.header-link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--navyblue);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    color: var(--ocean);
    background-color: var(--ocean);

}


.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.header-item:not(:last-child) {
    margin-right: 0;
}



.header-info {
    font-style: normal;
    display: flex;
    gap: 40px;
    margin-left: auto;

}

.header-info-item:not(:last-child) {
    margin-right: 0;
}

.header-info-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);


}

.header-info-link:hover,
.header-info-link:focus {
    color: #404bbf;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Page 1 MAIN */
/* .main {

} */
/* HERO */
/* .hero-container{

/* }  */

.section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navyblue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 188px 0;
    margin: auto;


}

.hero-container {}


.hero {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;

}

.hero-button {
    font-family: "Roboto", sans-serif;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;



}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-goals {
    padding: 120px 0;

}

.goals-container {
    display: flex;
}

/* .goals-hero {} */

.goals-list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.goals-item:not(:last-child) {
    margin-right: 0;
}

.goals-item {
    width: calc((100% - 72px) / 4);
}

.goals-item-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
}

.goals-icons {
    display: inline-block;
    width: 64px;
    height: 64px;
    /* padding-top: 24px; */
}

.icons-container {
    background-color: var(--cloud);
    height: 112px;
    width: 264px;
    border-radius: 4px;
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.goals-description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);

}

.section-activites {
    padding-bottom: 120px;
}

.activites-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;
}

.activites-list {
    display: flex;
    gap: 24px;
}

.activites-item {
    border: 1px solid #E7E9FC;
    flex: none;
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
}

.section-team {
    left: 0px;
    top: 1548px;
    background-color: #F4F4FD;
    padding: 120px 0;
}

/* .team-container {} */

.team-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;

}

.team-list {
    display: flex;
    gap: 24px;

}

.team-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;


}

/* .container-team-icon {} */

.team-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-icons {
    fill: var(--cloud);
    /* border-radius:50%; */
    display: flex;
    align-items: center;
    justify-content: center;


}

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.team-icon-item {
    width: 40px;
    height: 40px;

}

.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404bbf;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-member {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;

}

.team-member-div {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.team-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--slate);
    padding-bottom: 8px;

}

.customers {
    padding: 120px 0;

}

.header-customers {
    font-size: 36px;
    line-height: 1.1;
    color: #2E2F42;
    margin-bottom: 72px;
    text-align: center;
}

.customers-list {
    display: flex;
    gap: 24px;

}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}


.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightslate);
    transition: color 5000ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

.customer-icons {
    fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

/* FOOTER */
.footer {
    left: 0px;
    top: 2280px;
    background: var(--navyblue);
    padding: 100px 0;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-icon {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icons {
    fill: var(--cloud);

}

.footer-container {
    display: flex;
    align-items: baseline;


}

.footer-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;


}

.footer-cont {
    margin-right: 120px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--iris);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-blue {
    color: #f4f4fd;
}

.footer-text {
    left: 156px;
    top: 2420px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    max-width: 264px;

}

/* PAGE 2 */
.portfolio-container {
    padding: 96px 0 120px;

}

.list {
    list-style: none;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

/* .portfolio-item {} */

.portfolio-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    height: 48px;
    background: var(--cloud);
    color: var(--iris);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;

}

.portfolio-button:hover,
.portfolio-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* .examples {
/* } */
.examples-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list {}

.examples-item {
    /* background-color: ; */
    width: calc((100% - 48px) / 3);
}

.work-link {
    display: block;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.work-link:hover,
.work-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.work-link:hover .text-overlay,
.work-link:focus .text-overlay {
    transform: translate(0,0);
}


/* .link {
} */
.example-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
}

.example-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* .portfolio-icon {

} */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 576px;
    width: 408px;
    background-color: var(--cloud);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
  }
  
  .modal-container {
    position: relative;
  }
  
  .close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 3px 6px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
  }
  .close:hover,
  .close:focus {
    background-color: var(--ocean);
    border-color:var(--ocean) ;
  }
  
  .close > .modal-close {
    width: 10px; 
    height: 10px;
  }
  .close:hover .vector,
  .close:focus .vector {
    fill: #FFFFFF;
  }
  .wrapper::before {
content:"";
position: absolute;
top: 0;
left: 0;
height: 100%;
width:100%;

  }
  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 63px 24px;
    background-color: var(--iris);  
    color: var(--cloud);
    width: 100%;
    height: 100%;
    transform: translate(0,100%);
    opacity: 0;
  
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  
    /* font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    color: var(--common-bg-color); */
    
   
  }
  .examples-list > .examples-item:hover .text-overlay {
    opacity: 1;


  }
  .wrapper {
    position: relative;
    z-index: 1000;
  }